<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
    <div>
        <%- include('partials/navBar.ejs') %>
        <h1>you can reach us Here</h1>
        <!--<p><%=qs.person %></p> -->
        <!--<p><%=qs.department %></p>-->
        <form id="contact-form" method="POST" action="/contact">
            <label for="who"> Who do you want to contact</label> <br>
            <input type="text" id="who" name="who" value="<%= qs.person %>"> <br>
            <label for="department"> Which department ? </label><br>
            <input type="text" id="department" name="department" value="<%= qs.department %>"><br>
            <label for="email"> Your email</label><br>
            <input type="email" id="email" name="email" value="<%= qs.department%>"><br>
            <input type="submit" value="submit">

        </form>
    </div>
</body>
        

</html>